<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
    
      <li class="nav-item">
        <%= link_to "Inicio", root_path, class: "nav-link" %>
      </li>
      
        <li class="nav-item">
          <%= link_to "Users", users_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Products", products_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Product Categories", product_categories_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Purchases", purchases_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Purchases Details", purchase_details_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "User Types", user_types_path, class: "nav-link" %>
        </li>
        
    </ul>
  </div>  
</nav>