<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @purchase.id%>
</p>

<p>
  <strong>User:</strong>
  <%= @purchase.user_id %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @purchase.datetime %>
</p>

<p>
  <strong>Totalamount:</strong>
  <%= @purchase.totalAmount %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
